
@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <div class="tab-content">
        <div id="formInicioSesion" class="container">
            
            <div class="row mt-4">

                <form id="formInicioSesion" class="col-md d-flex flex-column align-items-center p-4">

                    <h3 class="form-label mb-4 row">
                        Inicio de sesión
                    </h3>

                    <div class="form-outline">
                        <label for="txtente">Usuario:</label>
                        <input type="text" class="form-control border-success" id="txtLoginUser" name="txtLoginUser">
                    </div>

                    <div class="form-outline">
                        <label for="txtente">Contraseña:</label>
                        <input type="text" class="form-control border-success" id="txtLoginClave" name="txtLoginClave">
                    </div>

                    
                        <button class="btn btn-outline-primary btn-sm m-2" >
                            <i class="bi bi-house-door"></i> Iniciar sesión
                        </button>

                        <button class="btn btn-outline-dark btn-sm">
                            <i class="bi bi-key"></i> Restableser contraseña
                        </button>
                   
                </form>

                <form id="formRegistro" class="col-md col d-flex flex-column align-items-center p-4">

                    <h3 class="form-label mb-4 row">
                        Formulario de registro
                    </h3>

                    <div class="form-outline">
                        <label for="txtente">Número de identificación:</label>
                        <input type="text" class="form-control border-success" id="txtLoginClave" name="txtLoginClave">
                    </div>

                    <div class="form-outline">
                        <label for="txtente">Nombre:</label>
                        <input type="text" class="form-control border-success" id="txtLoginClave" name="txtLoginClave">

                        <label for="txtente">Apellido:</label>
                        <input type="text" class="form-control border-success" id="txtLoginClave" name="txtLoginClave">
                    </div>

                    <div class="form-outline">
                        <label for="txtente">Correo electrónico:</label>
                        <input type="text" class="form-control border-success" id="txtLoginClave" name="txtLoginClave">
                    </div>

                    <div class="form-outline">
                        <label for="txtente">Telefono:</label>
                        <input type="text" class="form-control border-success" id="txtLoginClave" name="txtLoginClave">
                    </div>

                    <div class="container-fluid d-flex justify-content-center gap-3 p-2">
                        <button class="btn btn-outline-success btn-sm">
                           <i class="bi bi-file-earmark-check"></i> Registrar
                        </button>
                        <button class="btn btn-outline-danger btn-sm">
                            <i class="bi bi-trash"></i> Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

